<!DOCTYPE html>
<html lang="en">

<%- include('common/head.ejs')%>

<body>

  <!-- ======= Header ======= -->
  <%- include('common/header.ejs')%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%- include('common/sidebar.ejs')%>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Blogs</h1>
      
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          
            <table class="table datatable" style="margin-top: 20px;">
             
              <thead>
                <a href="/admin/blogcreate" class="btn btn-success">Add </a>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Title</th>
                  <th scope="col">Subtitle</th>
                  <th scope="col">Content</th>
                  <th scope="col">Author</th>
                  <th scope="col">Image</th>
                  <th scope="col">Status</th>
                  <th colspan="2">operations</th>
                  
                </tr>
              </thead>
              <tbody>
                <% let count=1 %>
                <% for(let elements of blogs){%>
                  <tr>
                      <th><%=count++%></th>
                      <th><%=elements.title%></th>
                      <td><%=elements.subtitle%></td>
                      <td><%=elements.content%></td>
                      <td><%=elements.author.name%></td>
                      <td><img src="/<%=elements.image%>" height="50px"/></td>
                      <%if(elements.isActivate==true){%>
                        <td><a href="/admin/blogdeactivate/<%=elements._id%>" class="btn btn-danger">Deactivate</a></td>
                      <%}else{%>
                        <td><a href="/admin/blogactivate/<%=elements._id%>" class="btn btn-success">Activate</a></td>
                      <%}%>
                      <td><a href="/admin/blogedit/<%=elements._id%>" class="btn btn-primary">Edit</a></td>
                      <td><a href="/admin/blogdelete/<%=elements._id%>" class="btn btn-danger" style="margin-left: 5px;">Delete</a></td>
                    </tr>
                <%}%>
              </tbody>
            </table>
            

        </div>
          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->
<div style="margin-top: 300px;"></div>

  <!-- ======= Footer ======= -->
  <%- include('common/footer.ejs')%>
